<mat-card>
  <mat-card-header>
    <mat-card-title>Screen Result</mat-card-title>
    <button mat-stroked-button color="primary">Refresh</button>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h2>Math Plus</h2>
      <img src="https://img.icons8.com/officel/100/000000/plus-2-math.png" />
      <span></span>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Screen Result</mat-card-title>
    <button mat-stroked-button color="primary">Refresh</button>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h2>Math Minus</h2>
      <img src="https://img.icons8.com/officel/100/000000/minus-2-math.png" />
      <span></span>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Screen Result</mat-card-title>
    <button mat-stroked-button color="primary">Refresh</button>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h2>Math Multiply</h2>
      <img src="https://img.icons8.com/officel/100/000000/multiply-2.png" />
      <span></span>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Screen Result</mat-card-title>
    <button mat-stroked-button color="primary">Refresh</button>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h2>Math Divide</h2>
      <img src="https://img.icons8.com/officel/100/000000/divide-2.png" />
      <span></span>
    </div>
  </mat-card-content>
</mat-card>
