/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.math {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__loader {
    margin-top: 116px;
  }

  &__value {
    margin-top: 100px;
    font-size: 60px;
  }

  mat-spinner {
    margin-top: 20px;
  }
}
